# Colores de acento dinámicos (generados por matugen)
cursor                  #{{colors.primary.default.hex_stripped}}
cursor_text_color       #{{colors.surface.default.hex_stripped}}
url_color               #{{colors.primary.default.hex_stripped}}
active_border_color     #{{colors.primary.default.hex_stripped}}
inactive_border_color   #{{colors.surface_variant.default.hex_stripped}}
selection_background    #{{colors.primary.default.hex_stripped}}
selection_foreground    #{{colors.surface.default.hex_stripped}}
active_tab_background   #{{colors.primary.default.hex_stripped}}
active_tab_foreground   #{{colors.surface.default.hex_stripped}}
